[Unit]
Description=Apply security updates on fedora system boot
After=network.target

[Service]
ExecStart=/usr/bin/dnf update --security -y
Type=simple

[Install]
WantedBy=default.target
RequiredBy=network.target
