[Unit]
Description=Apply updates on every month fedora system boot

[Timer]
OnUnitActiveSec=1month
Persistent=true

[Service]
ExecStart=/usr/bin/dnf update -y
Type=simple

[Install]
RequiredBy=multi-user.target

