[Unit]
Description=Apply updates on every month 28th fedora system boot
After=network.target

[Timer]
OnUnitActiveSec=1month
Persistent=true

[Install]
WantedBy=default.target
RequiredBy=network.target

